.react-tabs__ta {
  color: green;
  border-bottom: 3px solid green !important;
  border-top: none;
  border-left: none;
  border-right: none;
}

.react-tabs__tabs {
  font-size: 18px;
  font-weight: 600;
  border: none;
}
